nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5.border-bottom.border-dark
    .container-fluid
        a.navbar-brand(href='#')
            img.d-inline-block.align-top.rounded-circle(src='https://d33wubrfki0l68.cloudfront.net/9ec2b65136cf5012df5bb66cfbbcf97934877b1b/11a90/static/images/how-to-use-pug-on-netlify/pug.svg' width='50' alt='')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link.active(aria-current='page' href='/') Agregar Productos
                li.nav-item
                    a.nav-link(href='/productos') Productos